.wrapper {
	margin-left: 120px;
	height: 100%;
}

table {
	font-family: Georgia, "Times New Roman", Times, serif;
	border-collapse: collapse;
	width: 55rem;
	margin: 3rem;
}
td,
th {
	border: 1px solid #d7d9e2;
	text-align: center;
	padding: 10px;
}
.totallabel {
	text-align: right;
}
/* For stripes */
tr:nth-child(even) {
	background-color: #d7d9e2;
}
tr:nth-child(odd) {
	background-color: rgba(240, 240, 240, 0.5);
}
table input {
	padding: 0.3rem;
}
.discountdiv {
	padding-left: 10rem;
}
